[build]
  base    = "frontend"
  command = "npm run build"
  publish = "dist"

[[redirects]]
  from = "/*"
  to   = "/index.html"
  status = 200

# Opcional: fuerza a Netlify a buscar funciones en una carpeta que NO existe
[functions]
  directory = "netlify/functions"