

:root {
  --navbar-bg: #df31b6; 
  --navbar-hover: #cc00ff; 
  --navbar-text: #ffffff;
}

.navbar {
  background-color: var(--navbar-bg);
  color: var(--navbar-text);
  padding: 0.5rem 1rem;
  position: sticky;
  top: 0;
  z-index: 50;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.logo img {
  height: 100px;
  width: 100px;
  border-radius: 50%;
}

.logo span {
  font-size: 1.3rem;
  font-weight: bold;
}

.nav-links {
  display: flex;
  gap: 1rem;
  list-style: none;
  transition: all 0.3s ease-in-out;
}

.nav-links li a {
  color: var(--navbar-text);
  text-decoration: none;
  font-weight: 500;
  padding: 0.5rem 0.8rem;
  border-radius: 8px;
  transition: background 0.3s ease;
}

.nav-links li a:hover {
  background-color: var(--navbar-hover);
}


.menu-btn {
  display: none;
  flex-direction: column;
  gap: 5px;
  background: none;
  border: none;
  cursor: pointer;
}

.menu-btn span {
  width: 25px;
  height: 3px;
  background: white;
  border-radius: 2px;
  transition: all 0.3s ease;
}


.menu-btn.open span:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}
.menu-btn.open span:nth-child(2) {
  opacity: 0;
}
.menu-btn.open span:nth-child(3) {
  transform: rotate(-45deg) translate(5px, -5px);
}


@media (max-width: 768px) {
  .menu-btn {
    display: flex;
  }

  .nav-links {
    position: absolute;
    top: 60px;
    right: 0;
    background: var(--navbar-bg);
    flex-direction: column;
    width: 200px;
    padding: 1rem;
    gap: 1rem;
    border-radius: 0 0 10px 10px;
    opacity: 0;
    transform: translateY(-20px);
    pointer-events: none;
  }

  .nav-links.active {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
  }
}